@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.banner {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  background: #f7f9fb;
}
.banner .col {
  width: 100%;
}
.col h1 {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  width: 250px;
}
.col p {
  margin-top: 15px;
  color: rgb(52, 61, 72, 0.87);
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
  font-style: normal;
  width: 300px;
}

.col img {
  width: 500px;
}
@media only screen and (max-width: 768px) {
  .banner .col {
    width: 100%;
  }
  .col img {
    width: 300px;
    height: auto;
  }
}
/* ------------------1St col------------- */

/* -----------SUBSCRIBE FORM------------ */
::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 21px;
  color: #343d48 !important;
  font-size: 16px !important;
}
.header-sub input {
  margin-top: 15px;
  border-radius: 15px;
  outline: none;
  border: 2px solid #d0caf5;
  background: #f3f2fa;
  width: 318px;
  height: 52px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 21px;
  color: #343d48 !important;
  font-size: 16px !important;
}
.header-sub button {
  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 318px;
  height: 52px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 21px;
  border-radius: 15px;
  outline: none;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
}
@media (min-width: 1520px) {
  .header-sub button {
    width: 118px;
    margin-left: 15px;
  }
}
