.navbar {
}
.nav-element {
  font-size: 20px;
  color: #2f455c !important;
  margin-right: 50px;
  font-weight: 700 !important;
}
.nav-element:hover {
  background: #185a9d;
  background: -webkit-linear-gradient(to right, #185a9d 0%, #43cea2 100%);
  background: -moz-linear-gradient(to right, #185a9d 0%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #43cea2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}
